*{
    margin: 0;
    padding: 0;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg{
    background: linear-gradient(135deg, rgba(255,128,128,1) 0%, rgba(125,196,255,1) 100%);
    height: 100vh;
}

input:focus{
    outline: none;
}

.textview{
    width: 200px;
    height: 32px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    border: none;
    background-color: #e0dff5;
}

.button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background:#e0dff5;

    transition: backgroud-color 200ms;
}

.button:hover{
    background-color: #c4c3d9;
}

